<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/images/icon.png">
</head>
<body>
     {{>header}}
     <div class="about">     
         <p>Use the Weather app  to check the weather for your current location or in other places. You can view the upcoming hourly and 10-day forecast, see severe weather information, view weather maps, receive precipitation notifications, and more.</p>
    </div>
     {{>footer}}
</body>
</html>